*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.a:hover{
    color:aliceblue ;
}
.logo{
    color:white;
    font-size: 10vmin;
    background-color: rgb(50, 146, 59);

}
ul{
    list-style: none;
}

boby,html{
    overflow-x: hidden ;
}
.back{
    background-color: rgb(181, 224, 188);
}
.active{
    color:white;
    padding: 8px 15px;
    font-weight: bolder;
    background: rgb(50, 146, 59) ;
    border-radius: 30px;
}
.active:hover{
    color : rgb(50, 146, 59);
    font-weight:bold;
    padding: 8px 15px;
    background:white;
    border-radius: 30px;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: inline;
    padding: 20px;
    color:black;

}
.nav-link{
    display: flex;
    align-items: center;
}
.nav-link li{
    margin: 0 10px;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url("landing2.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.landing{
    color: white;
    margin:20px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-size:5vmin;
    border: 0cm; 
    background-color: rgb(50, 146, 59);
    box-shadow: 0 0 10px black;
}
.header-content{
    margin-bottom: 150px;
    color:white;
    text-align: center;
}
.header-content h2{
    font-size: 7vmin;
    color: whitesmoke;
}

.line{
    width: 350px;
    height: 5px;
    background:black;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size:6vmin;
    margin-top: 10px;
    margin-bottom:40px;
}
.about p,li{
    font-size:3vmin;
}
.title{
    text-align:center;
    font-size: 5  vmin;
    padding-top: 10%;
    padding-bottom:5%;
    color: rgb(50, 146, 59);
}
.row{
    display:flex;
    align-items:center;
    width:100%;
    justify-content:space-between;
    padding-bottom: 10%;
}
.row .col img{
    width: 80%;
}
 .row .col{
    text-align: center;
}
h4{
    font-size:3.5vmin;
    color: rgb(50, 146, 59);
    margin: 10px auto;
    text-align: auto;
}
.event{
    margin-top: 30px;
}
.footer{
    width:100%;
    min-height:200px;
    padding:20px ;
    margin: 0;
    background-color:  rgb(50, 146, 59);
    text-align: center;
}
.footer p{
    color:white;
    margin: 20px auto;
    padding:auto;
}